.jumbotron {
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
}

.section-heading {
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

.section-text {
  text-align: center;
}

.whitelist-button {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 300px;
}

a {
  text-decoration: none;
}
