<div style="height: 400px;">
  <section class="mat-typography jumbotron">
    <h1 class="mat-headline section-heading"><strong>Join Combis ICO</strong></h1>
    <h1 class="mat-headline section-text">
      <span>ICO launched at <strong><code>try&#123;code&#125;catch</code> Combis Hackathon 2018 in Poreč</strong></span>
    </h1>
    <a
      mat-raised-button
      color="accent"
      class="whitelist-button"
      (click)="ico()">
      Buy tokens now
    </a>
    <br />
    <h1 class="mat-title section-text">
      <span>You can find below what you need to do to buy tokens</span>
    </h1>
  </section>
</div>
